<div *ngFor="let obj of model" style="margin-top:8rem;">

  <label style="margin-top:5rem;" for="process-1">{{obj.name}}</label>

  <tabs>
    <tab tabTitle="wiki-icon" style="display: flex; justify-content: center;">
      <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex;">
          <svg:svg width="100%" height="100%" [attr.viewBox]="obj.viewbox" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <svg:g *ngFor="let objects of obj.nodes" stroke-width="1">
              <svg:rect [attr.stroke]="objects.stroke" [attr.fill]="objects.fill" [attr.stroke-width]="objects.strokew" [attr.x]="objects.x"
                [attr.y]="objects.y" [attr.width]="objects.width" [attr.height]="objects.height" [attr.rx]="objects.rx" />
              <svg:polyline [attr.fill]="objects.fill" [attr.stroke]="objects.stroke" [attr.points]="objects.linepoints" [attr.stroke-linejoin]="objects.linejoin">
                </svg:polyline>
                <svg:polygon [attr.fill]="objects.fill" [attr.stroke]="objects.stroke" [attr.points]="objects.polypoints" />
                <svg:path [attr.fill]="objects.fill" [attr.d]="objects.d" [attr.stroke-linejoin]="objects.linejoin" [attr.stroke]="objects.stroke"/>
                <foreignObject (click)="toggleModal()" stroke="none" [attr.x]="objects.x" [attr.y]="objects.y" [attr.width]="objects.width" [attr.height]="objects.height">
                  <xhtml:h3 [ngStyle]="{'font-size.px':getColor(objects.id)}">{{objects.name}}</xhtml:h3>
                </foreignObject>
            </svg:g>
            <!-- <svg:g (click)="toggleModal()" modalbtn/> -->
          </svg:svg>
        </div>
      </div>
    </tab>
    <tab tabTitle="model-icon">
      <div style="background: white;" inlineSVG="../../assets/img/{{obj.modeltxt}}.svg"></div>
    </tab>
    <tab tabTitle="inst-icon">Tab 3 content</tab>
  </tabs>


  <button (click)="toggleModal()"> Testing </button>

  <div *ngFor="let properties of obj.nodes">
    <div *ngIf="modalToggle === true" style="height: 20rem;
      width: 20rem;
      background: #f6f6f6;
      position: fixed;
      top: 70px;">
      <div>

        <h1>{{names.name}}</h1>
        <input type="text"/>
        <input type="text"/>
        <input type="text"/>
      </div>
    </div>

  </div>
</div>






<!-- <section style="display: flex; align-items: center; justify-content: space-between;">

      <main>
          <a routerLink="/" routerLinkActive="active"   style="width: 30px; background: red;"> <button class="settings" inlineSVG="assets/img/task-view.svg"></button>
           <button>Router! </button>        </a>
           <a routerLink="/test-model" routerLinkActive="active"   style="width: 30px; background: red;"> <button (click)="changePage('wiki')" style="width: 30px; background: red;" ></button></a>
          <button (click)="changePage('inst')" style="width: 30px; background: red;" ></button>
          <button (click)="changePage('test')">Testing</button>
      </main>
    </section> -->
<!-- <md2-tabs id="process-1" selectedIndex="0">
        <md2-tab label="model">
            <div style="background: white;" inlineSVG="../../assets/img/{{obj.model}}.svg"></div>
          </md2-tab>
        <md2-tab label="wiki">
            <div style="background: white;" inlineSVG="../../assets/img/{{obj.modeltxt}}.svg"></div>
        </md2-tab>
        <md2-tab>
          <ng-template md2-tab-label>Instances</ng-template>
          Test content 3
        </md2-tab>
      </md2-tabs> -->
